.cart_button{
    margin-right: 2rem;
    font-size: 2rem;
    height: fit-content;
    padding: 13px;
    color: white;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 20px;
  }